/* 详情列表的样式表 */
@import "home-commen";
.navleft{
	.show-nav{
		display: none;
	}
	&:hover .show-nav{
		display: block;
	}
}
.header-search-input{
	 background: #c01133
}
.search-button{
    height: 35px;
    width: 85px;
    border: 0;
    cursor: pointer;
    background: #c01133 url(../images/imggoodslist/header1200_sprite.png) no-repeat 0 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.header-input-show{
	width: 423px;
    border: 1px solid #ccc;
    background: #FFF;
    position: absolute;
    padding-bottom: 5px;
    z-index: 2;
    display: none;
    .header-input-title{
	    height: 30px;
	    line-height: 30px;
	    padding: 0 10px;
	    .header-input-title-fl{
	    	float: left;
			color: #999;
	    }

	    .header-input-title-fr{
	    	float: right;
			color: #666;
			i{
				float: left;
			    width: 9px;
			    height: 10px;
			    background: url(../images/icon/header1200_sprite.png) no-repeat 0 -35px;
			    display: inline-block;
			    margin-top: 10px;
			}
			span{
				float: left;
				margin-left: 7px;
			}
	    }
    }
    dd {
    	margin-left: 10px;
	    height: 26px;
	    line-height: 26px;
	}

}
.header-input-show1{
    width: 423px;
    border: 1px solid #ccc;
    background: #FFF;
    position: absolute;
    z-index: 2;
    display: none;
    .intshow-dl {
	    padding: 5px 0;
	    border-top: 1px solid #ccc;
	    line-height: 26px;
	    dd {
		    position: relative;
		    height: 26px;
		    a {
			    display: block;
			    padding: 0 10px;
			    color: #333;
			    height: 26px;
			    font-size: 12px;
			    span {
				    float: none;
				    position: absolute;
				    left: 10px;
				    top: 0;
				    display: inline-block;
				}
				i {
				    float: right;
				    display: inline-block;
				    color: #999;
				}
			}
		}
	}
}

#nav{
	height: 35px;
    background: #333;
    min-width: 1190px;
    border-bottom: 0;
    position: relative;
    z-index: 996;
    .nav .navright li {
	    float: left;
	    padding: 0 18px;
	    position: relative;
	    z-index: 999;
	    background: #333;
	    &:hover{
	    	background: #f33;
	    }

	    a{
	    	color: #fff;
	    }
	    &:hover a{
	    	color: #fff;
	    }
	}
}
.path-left {
    height: 26px;
    line-height: 26px;
    padding: 15px 0;
    float: left;
    width: 1050px;
    position: relative;
    .pathclip {
	    clip: rect(0,auto,1050px,0);
	    position: absolute;
	    width: 100%;
	    left: 0;
	    height: 26px;
	    .path-pa {
		    position: absolute;
		    left: 0;
		    white-space: nowrap;
		    height: 26px;
		    .path-font {
			    float: left;
			    color: #333;
			    margin: 0;
			    padding: 0;
			    background: 0 0;
			    padding-right: 10px;
			    padding-left: 10px;
			}
			.path-icon {
			    float: left;
			    padding-left: 15px;
			    background: url(../images/icongoodslist/left-icon.png) no-repeat left;
			    padding-right: 10px;
			    font-size: 12px!important;
			   
			}
		}
		.searchBox{
			position: relative;
			input {
				float: left;
			    height: 22px;
			    padding: 1px;
			    border: 1px solid #ddd;
			    padding-left: 10px;
			    width: 150px;

			}
			button {
			    height: 22px;
			    width: 22px;
			    border: 0;
			    background: url(../images/icongoodslist/select-button.png) no-repeat center center;
			   	position: absolute;
			   	right: 12px;
			   	top:4;
			}

		}

	}
}
.path-right {
    float: right;
    color: #666;
    line-height: 56px;
    background: #FFF;
    text-align: right;
    width: 140px;
    width: 140px;
    position: relative;
    z-index: 3;
}
.filter {
	width: 100%;
    border-top: 2px solid #987144;
    float: left;
    display: inline;
    .filter-item {
	    background: #f8f8f8;
	    border-bottom: 1px solid #ddd;
	    float: left;
	    display: inline;
	    .filter-left {
		    float: left;
		    display: inline;
		    width: 90px;
		    margin: 0 20px;
		    color: #999;
		    text-align: right;
		    line-height: 34px;
		    white-space: nowrap;
		    text-overflow: ellipsis;
		    overflow: hidden;
		}
		.filter-right {
		    width: 1040px;
		    float: left;
		    display: inline;
		    background: #FFF;
		    padding: 6px 0;
		    padding-left: 20px;
		    line-height: 22px;
		    min-height: 22px;
		    color: #333;
		    .fr-button {
			    float: right;
			    .fr-button-a {
				    float: left;
				    height: 22px;
				    width: 56px;
				    line-height: 22px;
				    background: #eee;
				    color: #666;
				    text-align: center;
				    cursor: pointer;
				}
				.fr-button-b {
				    float: left;
				    height: 22px;
				    width: 50px;
				    line-height: 22px;
				    background: #fff;
				    color: #666;
				    text-align: center;
				    cursor: pointer;
				    background-image: url(../images/icongoodslist/showrighticon.png);
				    background-repeat: no-repeat;
				    background-position: right 9px;
				    padding-right: 6px;
				}
			}
			ul{
				max-height: 116px;
			    overflow: hidden;
			    position: relative;
			    li {
				    float: left;
				    position: relative;
				    width: 108px;
				    height: 48px;
				    border: 1px solid #eee;
				    overflow: hidden;
				    text-align: center;
				    line-height: 48px;
				    color: #999;
				    margin: 4px 5px 4px 0;
				    display: inline;
				    cursor: pointer;
				    white-space: nowrap;
				    text-overflow: ellipsis;
				    span {
					    display: inline;
					    text-align: center;
					    img {
						    height: 48px;
						}

					}
					i{
						font-size: 12px;
						display: none;
					}
					&:hover{
						border: 1px solid #987144;
						background: #fef9ee;
					}
					&:hover i{
						display: block;
					}
					&:hover img{
						display: none;
					}
				}
			}
		}
		.wordlist {
		    width: 925px;
    		overflow: hidden;
    		.filter-right-item {
			    margin-right: 28px;
			    max-width: 88px;
			    height: 22px;
			    line-height: 22px;
			    float: left;
			    display: inline-block;
			    overflow: hidden;
			    white-space: nowrap;
			    text-overflow: ellipsis;
			    a:hover{
		    	    color: #987144;
					text-decoration: underline;
			    }
			}
		}
	}
}
#marquee{
	margin-top: 20px;
    height: 36px;


}
.sequence-left{
	height: 36px;
    float: left;
    overflow: hidden;
    ul{
    	margin-left: 1px;
    	li{
		    float: left;
		    margin-left: -1px;
		    position: relative;
		    a{
		    	border: 1px solid #ccc;
			    display: block;
			    padding: 0 15px;
			    height: 34px;
			    line-height: 34px;
			    background: #f8f8f8;
			}
		    .a1{
			    background: #c01133;
			    border: 1px solid #c01133;
			    color: #FFF;
		    }
    	}
    }
}
