@import "reset";
body{
	min-width: 1190px;
	height: auto;
}
.wrap{
	width: 1190px;
	margin: 0 auto;
}

 /*------------topnav-------------  */
#topnav{
	height: 30px;
    min-width: 1190px;
    
    background: #f7f7f7;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #e9e9e9;
    position: relative;
    z-index: 1003;
	.topnav{
		width: 1190px;
    	margin: 0 auto;
    	i {
	    	display: inline-block;
		    width: 7px;
		    height: 4px;
		    margin-left: 7px;
		    margin-top: 13px;
		    background: url(../images/icon/tools1200_sprite.png) no-repeat 0 -40px;
	    }
	    b{
			position: absolute;
		    width: 1px;
		    height: 12px;
		    display: block;
		    top: 9px;
		    right: -1px;
		    background: url(../images/icon/tools1200_sprite.png) no-repeat 0 -28px;
		    z-index: 2;
		}
		.left-span{
			width: 100%;
		    height: 3px;
		    position: absolute;
		    left: 0;
		    top: 28px;
		    background-color: #FFF;
		    z-index: 60;
		    display: none;

		}
	    .left-topnav{
		    float: left;
		    width: auto;
		    padding: 0 12px 0 18px;
		    height: 30px;
		    line-height: 30px;
		    color: #8d8d8d;
		    background: url(../images/icon/bl_logo_m.png) 2px center no-repeat;
		    position: relative;
		    font-size: 12px;
		    .left-topnav-name{
		    	width: 156px;
			    float: left;
			    overflow: hidden;
			    white-space: nowrap;
			    text-overflow: ellipsis;
			    font-size: 12px;
			    
		    }
		    
		}
		.left-topnav2{
			float: left;
		    position: relative;
		    border-left: 1px solid transparent;
		    border-right: 1px solid transparent;
		    .left-topnav2-name{
		    	
		    	color: #666;
			    line-height: 30px;
			    height: 30px;
			    a{

			    	color: #666;
				    padding: 0 10px;
				    display: block;
				    height: 30px;
				    color:#666;
				    font-size: 12px;
				    &:hover{
				    	color:#f00;
				    }
			    }

			    
		    }
		    &:hover{
			    	
			    	background-color: #fff;
				    border-left: 1px solid #e2e2e2;
				    border-right: 1px solid #e2e2e2;
				    box-shadow: 0 0 2px #CCC;
				    height: 30px;
				    z-index: 100;
			    }
			
			&:hover .left-span{
			   display: block;
			    z-index: 60;
			}
			&:hover i{
				transform:rotateZ(180deg);
			}

		    .leftshow{
		    	position: absolute;
			    background-color: #fff;
			    border: 1px solid #e2e2e2;
			    box-shadow: 0 0 2px #CCC;
			    top: 30px;
			    left: -1px;
    			padding: 7px 12px;
    			z-index: 50;
			    display: none;
			    ul{
			    	display: block;
			    	width: 222px;
    				line-height: 24px;
    				li{
    					padding: 0 5px;
					    width: 100px;
					    float: left;
					    margin-left: 1px;
					    a{
					    	padding: 0 10px;
						    color: #666;
						    display: block;
						    font-size: 12px;
						    &:hover{
						    	color: #f00;
						    }
					    }


    				}
			    }
			    
		    }
		    &:hover .leftshow{
			    display: block;
			}		    
		}
		.left-topnav3{
		    width: 30px;
		    float: left;
		    display: inline;
		    height: 30px;
		    line-height: 30px;
		    margin-left: 10px;
		    text-align: center;
		    position: relative;
		    a{
		    	color: #666;
		    	font-size: 12px;
		    	&:hover {
		    		color:#f00;
		    	}
		    }
		    
		}
		.right-topnav{
		    float: right;
		    li{
		    	float: left;
			    position: relative;
			    border-left: 1px solid transparent;
			    border-right: 1px solid transparent;
			    display: inline;
			    height: 30px;
			    line-height: 30px;
			    margin-left: -1px;
			    a{
			    	float: left;
				    display: inline-block;
				    height: 30px;
				    line-height: 30px;
				    padding: 0 10px;
				    color: #666;
				    font-size: 12px;
				    &:hover {
				    	color:#f00;
				    }
			    }
			    
			    .righttoshow1{
					position: relative;
					&:hover{
						width: 100%;
					}
					
			    }
			    .rightshow{
			    	position: absolute;
				    background-color: #fff;
				    border: 1px solid #e2e2e2;
				    box-shadow: 0 0 2px #CCC;
				    top: 30px;
				    left:-1px;
    				width: 100%;
				    display: none;
				    
			    }
			    .pay{
					padding: 15px;
				    width: 660px;
				    left: 50%;
				    margin-left: -427px;
				    dl{
				    	width: 660px;
    					overflow: hidden;
    					dd{
    						float: left;
						    width: 100px;
						    padding: 0 5px;
						    margin-left: -1px;
						    border-left: 1px dashed #e9e9e9;
						    height: 126px;
						    .pay-titel{
						    	line-height: 26px;
							    height: 30px;
							    font-weight: 700;
							    font-size: 14px;
							    color: #333;
							    padding: 0 10px;
							    .pay-head{
							    	line-height: 24px;
							    	a{
							    		display: block;
									    color: #666;
									    height: 24px;
									    padding: 0 10px;
							    	}
							    }
							}
					    }
					}
			    }
				.palm{
					width: 141px;
				    left: 50%;
				    margin-left: -70px;
				    border: 1px solid #e2e2e2;
				    overflow: hidden;
				    display: none;

				    .palm-item {
					    float: left;
					    margin-left: -1px;
					    width: 141px;
					    text-align: center;
					    padding: 10px 0 4px;
					    .palm-item-img{
					    	line-height: 0;
						    height: 100px;
						    overflow: hidden;
						    margin-left: 10px;
					    }
					    .palm-item-line{
					    	text-align: center;
						    padding: 0 20px;
						    line-height: 20px;
						    height: 20px;
						    white-space: nowrap;
						    text-overflow: ellipsis;
						    overflow: hidden;
						    .palm-item-title{
						    	color: #666;
							    margin-top:-3px;
							    font-size: 14px;
							    margin-left: 10px;
						    }
						    .palm-item-message{
						    	margin-top:-2px;
					    		color: #ff6f6f;
					    	}
					    }
				    }
				}
		    }
		    .righttoshow:hover .rightshow{
				    	display: block;
			}
			

		}





    }
}
/*------------header-------------  */
.header-search-input {
    padding: 2px 0 2px 2px;
    background: #ff3d3d;
    float: left;
    position: relative;
    z-index: 1001;
}
.header-search-button{
	height: 35px;
    width: 85px;
    float: left;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow: hidden;
    
}
.search-button{
	height: 35px;
    width: 85px;
    border: 0;
    cursor: pointer;
    background: #ff3d3d;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #fff;
    font-size: 14px;
}
#header{
	background: #FFF;
    min-width: 1190px;
    height: 96px;
    .header{
    	width: 1190px;
    	margin: 0 auto;
    	.header-logo{
    		width: 410px;
		    height: 60px;
		    margin-top: 18px;
		    float: left;
		    .logo{
			    width: 190px;
			    float: left;
		    }
		    .dilogo{
		    	float: left;
    			margin-left: 25px;
		    }
    	}
    	.header-search{
    		width: 780px;
		    float: left;
		    margin-top: 25px;
		    .ok-special{
		    	float: right;
    			height: 35px;
    			a{
    				height: 33px;
    				border: 1px solid #d7d7d7;
				    display: inline-block;
				    margin-left: 2px;
				    color: #666;
				    overflow: hidden;
				    padding: 0 19px 0 12px;
				    float: left;
				    background: #fff url(../images/icon/header-right-icon.png) no-repeat right 12px;
				    line-height: 33px;
    			}
    			&:hover a{
					border: 1px solid #f00;
					background: none;
					color: #f00;
    			}
		    }
		    /*-------------search--------------*/
/***************search-input Blind search*****************/
		    .header-search-top{
		    	width: 565px;
			    height: 35px;
			    border-top-right-radius: 3px;
			    border-bottom-right-radius: 3px;
			    
			    .header-search-in{
			    	background: #FFF;
				    height: 31px;
				    overflow: hidden;
				    padding: 0 10px;
				    vertical-align: middle;
				    .search-input{
				    	color: #A9A9A9;
				    	height: 19px;
					    line-height: 19px;
					    border: 0;
					    width: 406px;
					    font-size: 13px;
					    vertical-align: middle;
					    padding: 6px 0;
				    }
				
/*	-------------------------------Blind search show--------------*/
				    .header-input-show{
						width: 423px;
					    border: 1px solid #ccc;
					    background: #FFF;
					    position: absolute;
					    padding-bottom: 5px;
					    z-index: 2;
					    display: none;
					    .header-input-title{
				    	    height: 30px;
						    line-height: 30px;
						    padding: 0 10px;
						    .header-input-title-fl{
						    	float: left;
    							color: #999;
						    }
				
						    .header-input-title-fr{
						    	float: right;
    							color: #666;
    							i{
    								float: left;
								    width: 9px;
								    height: 10px;
								    background: url(../images/icon/header1200_sprite.png) no-repeat 0 -35px;
								    display: inline-block;
								    margin-top: 10px;
    							}
    							span{
    								float: left;
    								margin-left: 7px;
    							}
						    }
					    }
					    dd {
					    	margin-left: 10px;
						    height: 26px;
						    line-height: 26px;
						}

				    }

/*	----------------Blind search show1--------------*/
					.header-input-show1{
					    width: 423px;
					    border: 1px solid #ccc;
					    background: #FFF;
					    position: absolute;
					    z-index: 2;
					    display: none;
					    .intshow-dl {
						    padding: 5px 0;
						    border-top: 1px solid #ccc;
						    line-height: 26px;
						    dd {
							    position: relative;
							    height: 26px;
							    a {
								    display: block;
								    padding: 0 10px;
								    color: #333;
								    height: 26px;
								    font-size: 12px;
								    span {
									    float: none;
									    position: absolute;
									    left: 10px;
									    top: 0;
									    display: inline-block;
									}
									i {
									    float: right;
									    display: inline-block;
									    color: #999;
									}
								}
							}
						}
					}

				}
				
		    }
		    .hotword{
		    	width: 490px;
			    overflow: hidden;
			    clear: both;
			    height: 28px;
			    line-height: 28px;
			    margin-left: -5px;
			    a{
			    	color: #999;
				    float: left;
				    margin-right: 5px;
				    margin-left: 5px;
				    display: inline-block;
				    font-size: 12px;
				    &:hover{
				    	color: #f00;
				    	text-decoration: underline;
				    }
			    }
			    span{
			    	float: left;
				    color: #e5e5e5;
				    margin-left: 5px;
				    display: inline-block;
			    }
		    }
    	}
    }
}

/* ---------------nav---------------- */
#nav{
	height: 35px;
    border-bottom: 2px solid #151515;
    background: #fff;
    min-width: 1190px;
    z-index: 996;
    position: relative;

/* --------------------------doudou------------------------------ */
    .doudou{
	    width: 24px;
	    height: 22px;
	    position: absolute;
	    top: 0;
	    left: 220px;
	    background: url(../images/icon/doudou.png) no-repeat;
    }
    .nav{
    	width: 1190px;
    	margin: 0 auto;
		.navleft{
			width: 190px;
			height: 35px;
			position: relative;
			float: left;
			
			.nav-left{
	    		background: #151515;
	    		width: 190px;
			    cursor: pointer;
			    height: 35px;
			  
			    i{
					display: inline-block;
				    width: 14px;
				    height: 12px;
				    float: left;
				    margin-top: 12px;
				    margin-left: 13px;
				    background: url(../images/icon/nav1200_sprite.png) no-repeat 0 -101px;
			    }
			    span{
			    	margin-left: 25px;
				    color: #FFF;
				    font-size: 14px;
				    line-height: 35px;
				    float: left;
			    }
		    }

/**************************商品列表*************************/
			.int-nav{
				line-height: 28px;
			}
		    .show-nav{
	    		position: absolute;
	    		width: 190px;
			    left: 0;
			    top: 35px;
			    z-index: 999999;
			    .show-nav-bg{
			    	width: 190px;
				    height: 431px;
				    position: absolute;
				    left: 0;
				    top: 0;
				    background: #151515;
				    opacity: .75;
			    }
			    .banner-itemleft{
			    	position: relative;
				    z-index: 4;
				    overflow: hidden;
				    height: 412px;
				    width: 190px;
				    text-align: left;
				    color: #FFF;
				    padding: 11px 0 9px;
				    li{
				    	height: 29px;
    					line-height: 29px;
    					padding-left: 16px;
    					i{
    						float: left;
						    width: 16px;
						    height: 16px;
						    margin-top: 7px;
						    display: inline-block;
						    line-height: 16px;
						    font-size: 16px;
						    background: url(../images/icon/nav-v3-icon-1.png) no-repeat;
    					}

    					span{
    						float: left;
						    margin-left: 10px;
						    display: inline-block;
						    font-size: 13px;
						   a{
						    	color: #fff;
    							
						    }
    					}
    					&:hover{
    						background: #888;
    					}
    					&:hover a{
    						text-decoration: underline;
    					}
				    }
			    }
			    .left-biglist-show{
			    	position: absolute;
				    left: 190px;
				    top: 1px;
				    background: #fff;
				    box-shadow: 0 0 4px rgba(0,0,0,.2);
				    -moz-box-shadow: 0 0 4px rgba(0,0,0,.2);
				    -webkit-box-shadow: 0 0 4px rgba(0,0,0,.2);
				    display: none;
				    width: 1000px;
				    height: 430px;
				    border: 1px solid #dfdfdf;
				    border-left: 0;
				    border-top: 0;
				    z-index: 3;
				    li{
				    	width: 984px;
					    height: 416px;
					    //display: none;
					    padding: 8px;
					    overflow: hidden;
					    .menu_right_img{
					    	width: 240px;
						    height: 422px;
						    float: right;
						    a{
						    	margin-bottom: 9px;
						    	color: #666;
    							text-decoration: none;
    							img{
    								margin-bottom: 9px;
    							}
						    }
					    }
					    .menu_floor {
						    width: 725px;
						    margin: 10px 0 0 5px;
						    line-height: 23px;
						    position: relative;
						    overflow: hidden;
						    span{
						    	width: 75px;
							    font-weight: 700;
							    float: left;
							    margin-right: 23px;
							    text-align: right;
							    a{
							    	display: inline-block;
							    }
						    }
						    .menu_floor_a{
						    	width: 620px;
							    float: left;
							    line-height: 23px;
							    padding-bottom: 5px;
							    border-bottom: 1px dashed #f3f3f3;
							    a{
							    	margin-right: 18px;
								    color: #666;
								    display: inline-block;
								    &:hover{
								    	text-decoration: underline;
								    }
							    }
						    }
						}
				    }
			    }
			}
		}
		.navright{
			max-width: 1000px;
		    float: left;
		    font-family: 'Microsoft YaHei';
		    font-size: 15px;
		    color: #000;
		    line-height: 35px;
		    height: 35px;
		    overflow: hidden;
		    white-space: nowrap;
		    li{
		    	float: left;
			    padding: 0 18px;
			    position: relative;
			    z-index: 999;
			    background: #fff;
			    a{
			    	display: block;
				    height: 35px;
				    position: relative;
				    overflow: hidden;
				    transition: all .2s ease-in 0s;
				    -webkit-transition: all .2s ease-in 0s;
				    color: #333;
				    font-weight: 700;
				    z-index: 1000;
				    &:hover{
				    	color: #e00;
				    }
				    span{
				    	width: 100%;
					    height: 3px;
					    position: absolute;
					    left: 0;
					    top: 35px;
					    
				    }
			    }
		    }
		}
    }
}















/*------------right-slidebar-------------  */
#right-slidebar{
	height: 100%;
    right: -276px;

	width: 314px;
    position: fixed;
    //right: -319px;
    top: 0;
    color: #fff;
    z-index: 2000;
    .right-slidebar-main{
    	width: 38px;
	    position: absolute;
	    left: 0;
	    top: 0;
	    background: #333;
	    z-index: 999999;
	    height: 100%;
	    p{
	    	background: #333;
	    }
	    .login {
		    font-size: 12px;
		    position: absolute;
		    top: 100px;
		    z-index: 99;
		}
		.sidecss {
		    height: 40px;
		    font-size: 12px;
		    width: 38px;
		    background: #333;
		    text-align: center;
		    margin: 2px 0;
		    line-height: 40px;
		    transition: all .2s ease;
		    -webkit-transition: all .2s ease;
		    -moz-transition: all .2s ease;
		    -ms-transition: all .2s ease;
		    -o-transition: all .2s ease;
		}
	    
		.mui-mbar-tab-normal-arr {
		    position: absolute;
		    top: 14px;
		    right: 0;
		    //display: none;
		    width: 6px;
		    height: 12px;
		    background: url(../images/icon/sidebar_in.png) no-repeat 0 -108px;
		    border: 0;
		}
		.mui-mbar-tab {
		    position: relative;
		    z-index: 999;
			top: 15px;
			.mui-mbar-tab-tip {
			    opacity: 1;
			    display: none;
			    position: absolute;
			    width: 0;
			    line-height: 40px;
			    right: 38px;
			    top: -17px;
			    border: 1px solid #DDD;
			    color: #000;
			    background-color: #FFF;
			    overflow: hidden;
			    cursor: default;
			    border-top-left-radius: 8%;
			    border-bottom-left-radius: 8%;
			    .tip_con {
				    width: 86px;
				    font-size: 14px;
				    color: #333;
				    .mui-mbar-tab-tip-arr {
					    position: absolute;
					    top: 15px;
					    right: -6px;
					    width: 6px;
					    height: 12px;
					    background: url(../images/icon/sidebar_in.png) no-repeat -6px -108px;
					}
				}
			}
			i{
				background: url(../images/icon/sidebar_out.png) no-repeat 0 0;
				width: 38px;
			    height: 40px;
			    float: left;
			    display: inline;
			}
		}
		.shopcar {
		    border-top: 1px solid #666;
		    border-bottom: 1px solid #666;
		    height: 174px;
		    position: absolute;
		    top: 160px;
		    width: 43px;
		    right: 0;
		    z-index: 99999;
		    background-color: #333;
		    font-family: 'Microsoft YaHei';
		    .mui-mbar-tab-cart-arr {
			    position: absolute;
			    top: 82px;
			    right: 0;
			    z-index: 999990;
			    width: 6px;
			    height: 12px;
			    display: none;
			    background: url(../images/icon/sidebar_in.png) no-repeat 0 -108px;
			}
			i {
			    width: 24px;
			    height: 18px;
			    margin-top: 36px;
			    background: url(../images/icon/sidebar_out.png) no-repeat 0 -365px;
			    display: inline-block;
			}
			 span {
			    margin-top: 10px;
			    line-height: 15px;
			    display: block;
			    font-size: 14px;
			}
			b {
			    width: 20px;
			    height: 20px;
			    border-radius: 50%;
			    background: #e6133c;
			    text-align: center;
			    display: block;
			    line-height: 18px;
			    color: #FFF;
			    margin-top: 10px;
			}
		}
		
    }
}


/* -------------------footer----------------------- */

#footer{
	min-width: 1190px;
    margin: 0 auto;
    clear: both;
    padding-top: 30px;
    .footer-top{
    	background: #f3f3f3;
	    min-width: 1190px;
	    padding: 24px 0;
	    .wrap{
	    	width: 1100px;
	    	margin:0 auto;
	    	.helpnav-list{
	    		float: left;
			    width: 200px;
			    margin: 0 10px;
			    display: inline-block;
			    .helpnav-title {
				    height: 40px;
				    line-height: 40px;
				    color: #000;
				    font-size: 16px;
				    i{
				    	display: inline-block;
					    float: left;
					    margin-right: 15px;
					    width: 40px;
					    height: 40px;
					    overflow: hidden;
						background: url(../images/icon/footer1200_sprite.png) no-repeat;
				    }
				    .footic2{
				    	background-position: 0 -40px;
				    }
				    .footic3{
				    	background-position: 0 -80px;
				    }
				    .footic4{
				    	background-position: 0 -120px;
				    }
				    .footic5{
				    	background-position: 0 -160px;
				    }
				}
				ul{
					margin-left: 55px;
				    font-size: 13px;
				    line-height: 26px;
				    color: #555;
				    a{
				    	color: #555;
				    	&:hover{
				    		color: #f55;
				    		text-decoration: underline;
				    	}
				    }
				}
	    	}
	    }
    }
    .footer-bottom{
		line-height: 24px;
	    text-align: center;
	    padding: 15px 0 0;
	    color: #999;
	    background: #f3f3f3;
	    a{
	    	color:#333;
	    }
	    span{
	    	padding: 0 8px;
	    }
	    .copyright span {
		    padding: 0 8px;
		    color: #ccc;
		}
		.police {
		    width: 100%;
		    text-align: center;
		    padding: 10px 0 20px;
		    a{
		    	display: inline-block;
			    height: 20px;
			    line-height: 20px;
			    margin-right: 10px;
			    img{
			    	float: left;
			    }
			    span{
			    	float: left;
				    display: inline;
				    height: 20px;
				    line-height: 20px;
				    margin: 0 0 0 5px;
				    color: #999;
			    }
		    }
		}
    }
}
























